@model IEnumerable<CheeseMVC.Models.Menu>

    @{
        ViewBag.Title = "Menus";
    }

    <h1>@ViewBag.Title</h1>

    <ul>
        @foreach (var menu in Model)
        {
            <li>
                <a asp-controller="Menu"
                   asp-action="ViewMenu"
                   asp-route-id="@menu.ID">@menu.Name</a>
            </li>
        }
    </ul>

    <p><a asp-controller="Menu" asp-action="Add">Add</a> | <a asp-controller="Menu" asp-action="Remove">Remove</a></p>